attrs==16.3.0
backoff==1.8.0
backports.zoneinfo==0.2.1
certifi==2021.5.30
ciso8601==2.3.1
importlib-resources==5.4.0
jsonschema==2.6.0
mysql-replication==0.22
pendulum==1.2.0
PyMySQL==0.9.3
python-dateutil==2.8.2
pytz==2018.4
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
simplejson==3.11.1
singer-python==5.9.0
six==1.16.0
tap-mysql==1.17.5
tzdata==2023.4
tzlocal==4.2
zipp==3.6.0